---
import MainLayout from "../layouts/MainLayout.astro"
import '../styles/global.css'
const pageTitle = "I am LERRMAN"
---

<MainLayout title="I am LERRMAN">

  <p>
    My name is Luis and I build my first Astro project using <a     href="https://www.ceos3c.com">ceos3c.com</a> 
  </p>

</MainLayout>



