<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/hobbies">Hobbies</a>
  <h1>Who Am I?</h1>
  <p>My name is Luis and I build my first Astro project using <a href="https://astro.build/">astro.build</a> </p>
</body>

<style>
  body{
    font-family: sans-serif;
  }
  a{
    color: orange;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
</style>
