---
const pageTitle = "My Hobbies"
const hobbies = [
"Playing Videos Games",
  "Watching Movies",
  "Playing Sports",
  "Reading",
  "Photography",
]


---

<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/hobbies">Hobbies</a>
  <h1>{pageTitle}</h1>
<ul>
  {hobbies.map((hobby)=> <li>{hobby}</li>)}
</ul>
</body>

<style>
  body{
    font-family: sans-serif;
  }
  a{
    color: orange;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
</style>


